{% block nav %}
  <!-- الجزء بتاعك -->
  <div class="profile-sidebar" style="padding: 1rem; text-align: center;">
    <img src="/assets/images/profile.png" alt="Omar Samy" style="width: 80px; border-radius: 50%; margin-bottom: 0.5rem;">
    <p>Omar Samy</p>
    <div class="social-icons" style="margin-top: 0.5rem;">
      <a href="https://github.com/00xmora" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://twitter.com/00xmora" target="_blank" title="Twitter">
        <i class="fab fa-x-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/00xmora" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>

  <!-- الـ nav الأساسي -->
  {{ super() }}
{% endblock %}
